.tableHeader{
    position: relative;
    background-color: #dcdcdc; 
    color: #454545;
    display: -webkit-box;
    display: -ms-flexbox;
    max-width: 1200px;
    display: flex;
    padding: 1rem;
    border: 1px solid #dcdcdc;;
  }

.hide{
  display: none;
}
  
.table{
  max-width: 1200px;
  margin: 5rem auto;
  border: 1px solid #dcdcdc;;
  border-radius: 3px;

}

  .tableHeaderSection{
    width: 50%;
    position: relative;
    text-align: center;

  }
  .tableHeaderData{
    font-size: 15px;
    font-weight: 600;
  }
  .chartWrapper {
    margin-top: 20px;
    display: block;
    max-width: 1200px;
    margin: auto;
    @media(min-width: 1200px) {
        margin-top: 70px;
    }
    &:nth-child(1) {
        @media(max-width: 767px) {
            margin-top: 100px;
        }
    }
    .recipient_themes_wrapper {
        width: 100%;
        background-color: white;
        display: table;
        vertical-align: middle;
        border: 2px solid rgba(221, 221, 221, 0.94);
        margin-top: 70px;
        .budget_percent {
            opacity: 0.6;
            color: #303030;
            padding-left: 5px;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
.top_budget_sources_wrapper {
  width: 100%;
  background-color: white;
  display: table;
  vertical-align: middle;
  border: 2px solid rgba(221, 221, 221, 0.94);
}

.chartHead {
  width: 100%;
  display: block;
  box-shadow: 0 2px 7px rgba(7, 61, 125, 0.18);
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  padding: 23px 35px;
  background-color: white;
  @media(max-width: 767px) {
      height: auto;
  }
}
.chartHead {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.budget_sources_wrapper {
  width: 97%;
  margin: 0 auto;
  padding-top: 25px;
}

.row{
  display: flex;
  max-width: 1200px;
  margin: auto;
  .cell{
    width: 50%;
    border: 1px solid #dcdcdc;
    .track_vertical{
      border-left: 1px solid #ddd;
      display: block !important;
      height: 100% !important;
      right: 2%;
      width: 3px !important;
      padding-left: 2px;
      padding-top: 5px;
  }
  .thumb_vertical{
      background: #d8d6d6;
      margin-left: 50%;
      border-radius: 5px;
      width: 4.5px !important;
  }
  .thumb_horizontal{
      display: none;
  }
    .dataTitle{
      font-size: 15.5px;
      font-weight: 600;
      .bullet{
        height: 11px;
      }
      .titleText{
        margin: 0 8px;
      }
      
    }
    .dataDetails{
      font-size: 14px;
      font-weight: 400;
      display: block;
      margin-bottom: 12px;
      margin-left: 2rem;
      margin-top: 2px;
    }   
    .scroll{
      height: 132px !important ;
      margin: 10px 0;
      .data{
        margin: 3%;
      }
      .dataTitle2{
        font-size: 16px;
        font-weight: 600;
      }
      .textTitle2{
        font-size: 16px;
        font-weight: 500;
      }
    }
    .scroll2{
      height: 101px !important ;
      margin: 10px 0;
      .data{
        margin: 3%;
      }
      .dataTitle2{
        font-size: 16px;
        font-weight: 600;
    
      }
      .listSection{
        margin-bottom: 6px;
      }
      .textTitle2{
        font-size: 15px;
        font-weight: 500;
      }
      .bullet2{
        height: 11px;
        margin-right:7px; 
        margin-bottom: 1px;
      }
    }
    
  }
}

