@import '../../../style/helpers/_variables';
@import '../../../style/helpers/_mixins';
.container{
  font-family: 'proxima-nova';
  .titleWrapper{
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 15px 0 10px 0;
      @media(max-width:767px){
        margin: 0;
    }
  }

  .projectListWrapper {
    margin: 60px auto 0 auto;
    
    @media screen and (max-width: 768px) {
      margin: 0 auto;
      margin-top: 90px;    
      
      
    }
    @media(max-width: 767px) {
        width: 100%;
    }
  }

  .mapWrapper {
    width: 100%;
    height: 500px;

    @media screen and (max-width: 767px) {
        margin: 0 10px;
        width: auto;
        height: 400px;
    }
    @media screen and (max-width: 620px) {
        margin: 0 10px;
        width: auto;
      
    }
  }
  .flagListWrapper{
    margin: 60px auto 0 auto;
    max-width: 1200px;
  }
}
.disclaimer {
  font-size: 12px;
  padding: 5px;
  line-height: 1;
  color: #4f4f4f;
  padding-bottom: 20px;

}
.filterHighlight {
  font-weight: 700;
}
.filterTextWrapper{
  margin-bottom:10px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.topographyIconsContainer{
  position: relative;
  top:0;
}

.filterText{
  font-size: 16px;
  padding: 16px;
  width:100%;
  background-color: #f4f5fa;
  @media (max-width:767px){
    padding: 5px;
  }
}


.filterTitle{
  font-size: 16px;
  padding: 0 10px;
}

.filterListWrapper{
 width:100%;
 height: 62px;
 overflow-y: hidden;
 margin-bottom: 10px;
 
  .filterInnerWrapper{
    width:100%;
    padding-bottom: 25px;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
}
    .filterLabels {
      display: inline-block;
      border-radius: 8px;
      background-color: #1c81c2;
      display: inline-block;
      padding: 10px 15px;
      color: #fff;
      font-size: 14px;
      margin: 12px 8px 10px 8px;
      
      @media (min-width: $desktop) {
        margin: 12px 12px 10px 14px;
    }   
     
  }
  
}
.chartWrapper {
  margin-top: 20px;
  display: block;
  max-width: 1200px;
  margin: 60px auto 0 auto;

  @media(min-width: 1200px) {
    //margin-top: 70px;
  }

  &:nth-child(1) {
    @media(max-width: 767px) {
      margin-top: 100px;
    }
  }

  .recipient_themes_wrapper {
    width: 100%;
    background-color: white;
    display: table;
    vertical-align: middle;
    border: 2px solid rgba(221, 221, 221, 0.94);
    margin-top: 70px;

    .budget_percent {
      opacity: 0.6;
      color: #303030;
      padding-left: 5px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.top_budget_sources_wrapper {
  width: 100%;
  background-color: white;
  display: table;
  vertical-align: middle;
  border: 2px solid rgba(221, 221, 221, 0.94);
}

.chartHead {
  width: 100%;
  display: block;
  box-shadow: 0 2px 7px rgba(7, 61, 125, 0.18);
  height: 70px;
  font-size: 18px;
  font-weight: 600;
  padding: 23px 35px;
  background-color: white;

  @media(max-width: 767px) {
    height: auto;
  }
}

.mapImg{
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.infoMsgBg,
.infoMsg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0);
}
.infoTextOpacity,
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  font-weight: $bold;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
}
.infoTextOpacity{
  opacity: 1;
  display: block;
}
.infoMsgBg{
  background: rgba(0, 0, 0, 0.5);
}
.chartHead {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget_sources_wrapper {
  width: 97%;
  margin: 0 auto;
  padding-top: 25px;
}
.paddingBottom{
  padding-bottom: 20px;
}
.summaryWrapper{
  max-width: 1200px;
  margin: 0 auto;
}
.imgDiv{
  width: 6%;
  float: left;
  margin-right: 13px; 
  @media(max-width:767px){
      display: none;
  }
  max-height: 81px;
  padding-top: 10px;
}
.ulWithFlag {
  width: 99%;
  @media(max-width:767px){
      width: 100%;
  }
}
.list{
  padding: 0;
  border-top: 5px solid #1c81c2;
  display: flex;
  height: 83px;
  margin: 30px 1.5rem 50px 0.5rem;
  background-color: #f4f5fa;
}
.listItem{
  display: inline-block;
  width: 50%;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  @media(min-width: $tablets) {
      width: 25%;
      vertical-align: middle;
  }
  .value {
      display: block;
      font-size: 16px;
      color: #454545;
      font-weight: 700;
  }
  .label {
      display: block;
      font-size: 13px;
      font-weight: 400;
      @media(min-width: $tablets) {
          padding-top: 5px;
      }
  }
}









