@import '../../style/helpers/_variables';
@import '../../style/helpers/_mixins';

.filters2{
    display: inline-block;
    margin: 2px ;
    font-size: 15px;
    
    @media(max-width: 991px) {
        margin: 9px -10px;
    }
    @media screen and (max-width: 1274px) and (min-width:992px) {
        margin: 2px 0 10px 0;
    }
    .labelStyle{
        opacity: 0.8;
        color: #222222;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        margin-left: 7px;
        padding-right: 5px;
        @media(max-width: 767px) {
            padding-bottom:10px;
        }
    }
    .markerTypeLabel{
        @media(max-width: 771px) {
            display:none;
        }
    }
    .filterMenu {
        position: relative;
        height: 150px;
        border-radius: 11px;
    }
    .filterOption {
        font-size: 16px;
    }
    .backgroundWrapper {
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .dropDownOuterWrapper{
        display: inline-block;
        position: relative;
        .hide{
            width: 242px;
            left: 0px;
            background: #ffffff;
            height: 30px;
            position: absolute;
            margin-top: 13px;
            border-left: 1px solid #dddfe1;
            border-right: 1px solid #dddfe1;
            @media(max-width:767px) {
                display: none;
            }
        }
        .dropdownOverlay {
            width: 242px;
            left: 0px;
            background: #ffffff;
            height: 30px;
            position: absolute;
            margin-top: 13px;
            border-left: 1px solid #dddfe1;
            border-right: 1px solid #dddfe1;
            @media(max-width:767px) {
                left: -1px;
                margin-top: 16px;
                height: 25px;
            }
        }
    }
    .sscDropdown,
    .markerTypeDropDown{
        box-shadow: 0 2px 1px $drop-down-shadow;
        @include border(1px,solid,$drop-down-border-color,30px);
        background-color: $white-background;
        margin-left:0;
        min-width: 320px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        max-width: 400px;
        height: 38px;
        z-index: 5;
        padding: 8px 0px 5px 26px;
        @media(min-width: 767px) and (max-width: 991px) {
            min-width: 280px;
            max-width: 280px;
            margin-right: 10px;
        }
        @media(max-width: 766px) {
            min-width: 160px;
            max-width: 160px;
        }
        @media(max-width: 699px) {
            min-width: 225px;
            max-width: 225px;
        }
        .dropDownItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 80%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            font-family: 'ProximaNova-Regular';
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        }
        .documentItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 86.5%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        
        }
        .select {
            background-color: $white-background;
            position: absolute;
            top: 100%;
            z-index: -1;
            margin: 0;
            padding: 0;
            left: 0;
            right: 0;
            input {
                padding: 0;
            }
        }
        .updownArrow {
            background: url('#{$icons}/drop-down-arrow.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
        }
        .closetab {
            background: url('/assets/images/closeCard.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
            background-size: 10px 10px;
        }
        
    }
    .sscDropdown{
        min-width: 292px;
        .dropDownItem{
            width: 88%;
        }
        @media(max-width: 768px) {
            width: 292px !important;
        }
    }
    .flagIcon{
        vertical-align: text-bottom;
        margin-top: 3px;
        height: 15px;
        padding-right: 5px;
    }
    .dropDownWrapper {
        box-shadow: 0 2px 1px $drop-down-shadow;
        @include border(1px,solid,$drop-down-border-color,30px);
        background-color: $white-background;
        margin-left:0;
        min-width: 175px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        max-width: 400px;
        height: 40px;
        z-index: 5;
        padding: 8px 0px 8px 26px;
        @media(max-width: 767px) {
            margin-left: -1px;
        }
        .dropDownItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 80%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            font-family: 'ProximaNova-Regular';
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        }
        .documentItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 86.5%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        }
        .select {
            background-color: $white-background;
            position: absolute;
            top: 100%;
            z-index: -1;
            margin: 0;
            padding: 0;
            left: 0;
            right: 0;
            input {
                padding: 0;
            }
        }
        .updownArrow {
            background: url('#{$icons}/drop-down-arrow.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
        }
        .closetab {
            background: url('/assets/images/closeCard.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
            background-size: 10px 10px;
        }
       
    }
}

.filters {
    display: inline-block;
    margin: 2px 6px;
    font-size: 15px;
    
    @media(max-width: 991px) {
        margin: 9px 12px;
    }
    @media screen and (max-width: 1274px) and (min-width:992px) {
        margin: 2px 0 10px 0;
    }
    .labelStyle{
        opacity: 0.8;
        color: #222222;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        vertical-align: top;
        padding-top: 10px;
        margin-left: 7px;
        padding-right: 5px;
        @media(max-width: 767px) {
            padding-bottom:10px;
        }
    }
    .filterMenu {
        position: relative;
        height: 150px;
        border-radius: 11px;
    }
    .filterOption {
        font-size: 16px;
    }
    .backgroundWrapper {
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .dropDownOuterWrapper{
        display: inline-block;
        position: relative;
        @media (max-width:767px) {
            display: block;
        }
        .dropdownOverlay {
            width: 242px;
            left: 0px;
            background: #ffffff;
            height: 30px;
            position: absolute;
            margin-top: 13px;
            border-left: 1px solid #dddfe1;
            border-right: 1px solid #dddfe1;
            @media(max-width:767px) {
                left: -1px;
                margin-top: 16px;
                height: 25px;
            }
        }
    }
    .dropDownWrapper {
        box-shadow: 0 2px 1px $drop-down-shadow;
        @include border(1px,solid,$drop-down-border-color,30px);
        background-color: $white-background;
        margin-left:0;
        min-width: 175px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        max-width: 400px;
        height: 40px;
        z-index: 5;
        padding: 8px 0px 8px 26px;
        @media(max-width: 767px) {
            margin-left: -1px;
        }
        .dropDownItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 80%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        
        }
        .documentItem{
            color: #2c2c2c;
            font-size: 18px;
            font-weight: 700;
            display: inline-block;
            width: 86.5%;
            height: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: top;
            @media(max-width: $tablets) {
                font-size: 16px;
            }
        
        }
        .select {
            background-color: $white-background;
            position: absolute;
            top: 100%;
            z-index: -1;
            margin: 0;
            padding: 0;
            left: 0;
            right: 0;
            input {
                padding: 0;
            }
        }
        .updownArrow {
            background: url('#{$icons}/drop-down-arrow.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
        }
        .closetab {
            background: url('/assets/images/closeCard.png') no-repeat center;
            display: inline-block;
            height: 100%;
            padding: 5px;
            padding-right: 10px;
            background-size: 10px 10px;
        }
       
    }
}



.searchBar{
    height: 40px;
    border-radius: 6px;
    background-color: #ebe9e9;
    font-size: 16px;
    outline: none;
    width: 214px;
    position: relative;
    background-image: url(/assets/icons/searchdrop.png);
    background-position: 10px 10px;
    padding: 12px 20px 12px 33px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}

.dropDownlistWrapper{
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .5);
    margin-left: 1px;
    z-index: 5;
    position: absolute;
    cursor: pointer;
    background-color: #fffcfc;
    width: 239px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @media(max-width:767px) {
        margin-left:0;
    }
    @media(max-width:1007px) {
        z-index: 10;
    }
    .searchWrapper{
        padding-top: 12px;
    }
    input{
        border:1px solid #ccc;
        font-size: 14px;
        -webkit-appearance: none;
    }
}

.dropDownUl{

    cursor: pointer;
    background-color: #ffffff;
    margin: 0;
    padding: 12px 5px;
    height: 230px;
    z-index: -1;
    padding-top: 6px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 70px;
    @media(max-width:767px) {
        padding: 12px 18px;
        height: 150px;
    }
}
.countryListItem,
.listItem {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    display: flex;
    padding: 9px;
    padding-left: 22px;
    outline: none;
    .listItemIcon {
        margin-right:10px;
        height: 20px;
    }
    @media(max-width:767px) {
        padding: 4px;
    }
    &:hover, &:focus {
        background-color: #ebf5ff;
    }
}
.countryListItem{
    padding: 5px 9px 5px 9px;
    font-size: 14px;
}
.innerListWrapper {
    padding: 0;
    margin-bottom: 5px;
}


.noResultWrapper{
    height: 100%;
    width:100%;
    display:table;
    div{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
}

    
.preLoaderWrapper {
    position: relative;
    width: 100%;
    height: 200px;
}
