
.breadCrumbWrapper {
  display: none;
  width: 100%;
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .breadCrumbWrapper {
    padding-left: 10px;
  }
}
.aboutUsWrapper {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  max-width: 1200px;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .aboutUsWrapper {
    padding: 10px;
    font-size: 18px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .breadCrumbWrapper {
    display: table;
  }
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
.sectionBodyColor{
    background-color: #f4f5fa;
    padding: 12px;
}
.aboutArrow {
  position: relative;
  color:#ff7f0f;
}
.aboutArrow ::before {
  background: url('/assets/icons/arrow.png') no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  content: '';
}
.linkColor {
  color: #1c81c2;
}
.list {
  width: 100%;
  max-width: 900px;
  font-size: 0;
  display: table;
  padding: 0;
  margin: 0 auto;
}
.aboutWrapper {
    font-size: 16px;
    display: table-cell;
    text-align: left;
  }
  .aboutWrapper::first-child {
    text-align: center;
  }
        .buttonStyle {
          border :2px solid #cbcbcb;
          border-radius:44px;
          font-size: 16px;
          outline: none;
          background-color: #fff;
          color: #000;
          font-weight: 600;
          box-shadow: 0 12px 76px #e6ebf2;
          cursor: pointer;
          text-align: center;
          display: inline-block;
          padding: 17px 53px;
          text-decoration: none;
          overflow: visible;
      }
      .buttonStyle ::hover,
      .buttonStyle ::focus {
              border: 2px solid #1c81c2;
              border-radius:44px;
        }
        .buttonStyle.active {
              color: #fff;
              background-color: #1c81c2;
              font-weight: 700;
              border: none;
              position: relative;
        }
        @media(min-width: 768px) {
          .buttonStyle {
            padding: 11px 34px;
          }
          .list {
            margin: 0 10px;
          }
          
        }
        @media(min-width: 991px) {
          .buttonStyle {
            padding: 17px 53px;
          }
          .list {
            margin: 0 auto;
          }
        }

        .accordion {
          padding: 10px;
        }
        .accordionItem.accordionPosition {
          position: fixed;
          top: 77px;
          left: 0;
          right: 0;
          bottom: 0;
          background: #fff;
        }
        .accordioncontentScroll {
            height: 1000px;
        }
        .accordionContent {
            height: 100%;
        }
        .accordionHead {
            font-size: 18px;
        }
        .accordionTitle {
            color: #000;
            padding-left: 8px;
            margin-bottom: 8px;
            box-shadow: 0 12px 76px rgba(7, 61, 125, 0.1);
            border: 2px solid #cbcbcb;
            background-color: #ffffff;
            position: relative;
            cursor: pointer;
        }
            .accordionTitle::after {
                display: block;
                content: '';
                position: absolute;
                top: 46%;
                left: 90%;
                right: 0;
                bottom: 0;
                background: url('/assets/icons/accordion-arrow.png') no-repeat;
            }
            .accordionTitle.accordionSelected {
                background-color: #1c81c2;
                color: #fff;
                padding-left: 8px;
                margin-bottom: 8px;
                border: 1px solid transparent;
            }
            .accordionSelected ::after {
              display: block;
              content: '';
              position: absolute;
              top: 46%;
              left: 90%;
              right: 0;
              bottom: 0;
              background: url('/assets/icons/uparrow.png') no-repeat;
            }
  
      