<div class="container">
    <div class="donut-chart-block block" style=" margin: 25px 25px 0 0;
  background: #394264;
  border-radius: 5px;
  float: left;
  width: 300px;
  overflow: hidden;">
        <div class="donut-chart" style="  position: relative;
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  border-radius: 100%">
            <div id="section1" class="clip" style="transform: rotate(0deg); border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;">
                <div class="item" data-rel="21" style="background-color: #E64C65; transform: rotate(76deg);  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;"></div>
            </div>
            <div id="section2" class="clip" style="transform: rotate(76deg); border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;">
                <div class="item" data-rel="39" style="background-color: #11A8AB; transform: rotate(140deg);  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;"></div>
            </div>
            <div id="section3" class="clip" style="transform: rotate(215deg); border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;">
                <div class="item" data-rel="31" style="background-color: #4FC4F6; transform: rotate(113deg);  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;"></div>
            </div>
            <div id="section4" class="clip" style="transform: rotate(-32deg); border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
  height: 100%;
  position: absolute;
  width: 100%;">
                <div class="item" data-rel="9" style="background-color: #FCB150; transform: rotate(32deg);  border-radius: 50%;
  clip: rect(0px, 100px, 200px, 0px);
  height: 100%;
  position: absolute;
  width: 100%;
  font-family: monospace;
  font-size: 1.5rem;"></div>
            </div>
            <div class="center" style=" background: #394264;
  position: absolute;
  top: 30px;
  left: 30px;
  height: 140px;
  width: 140px;
  border-radius: 70px;"></div>
        </div>
    </div>
</div>