//urls
$images: '/assets/images';
$icons: '/assets/icons';

//colors
$primary-description-color: #121212;
$heading-color: #242424;
$white-background: #ffffff;
$shadow: #efeff0;
$white-border: #e6e7ee;
$white-fade: #b9b9b9;
$black-color: #000;
$blue-banner: #33617f;
$search-divider: #606060;
$grey-fade: #ededed;
$arrow-disabled: #2d2d2d;
$map-popup-border: #dddddd;
$button-text-color:#0167ce;
$button-background-color: #f4f5fa;
$drop-down-border-color: #d6d6de;
$drop-down-shadow: #f7f7f7;
$border-fade: #cecece;
$tabs-border: #cbcbcb;
$map-year-timeline: #222222;
$tabs-shadow: #e6ebf2;
$border-smooth: #E4E4E4;
$active-color:#1c81c2;
$theme-text:#4f4f4f;
$banner-background:#7f7f7f;
$black-fade:#191919;
$annual-budget-shadow: #d2dce7;
$white-shadow: #ffffff00;
$white-opacity: #ffffff80;
$flow-background: #dbdbdb;
$flow-border: #e4e5ec; 
$year-active-color: #23a2f3;
$search-text: #666666;
$table-head: #303030;
$table-body: #626262;

//fonts
$heading: "lora";
$project-heading: Bebas;
$heading-small: 24px;
$title-small:22px;
$heading-medium: 30px;
$heading-normal: 40px;
$heading-big: 50px;
$heading-xlarge: 60px;
$bold: 700;
$medium: 600;
$normal: 400;
$text-header-link: 19px;
$text-mobile: 10px;
$text-lmobile: 12px;                                                
$text-xsmall: 14px;
$text-small: 16px;
$text-xmedium: 15px;
$text-medium: 18px;
$text-big: 20px;
$text-large: 25px;
$title-big: 28px;
$text-xlarge: 30px;



//breakpoints
$extra-small: 320px;
$mobiles: 480px;
$tablets: 768px;
$desktop: 992px;
$wide-screen: 1200px;