@import '../../style/helpers/_variables';
@import '../../style/helpers/_mixins';

.paginationPanel {
  display: table;
  // margin-left: 15px;
  margin-right: 15px;
  max-width: 1200px;
  width: 100%;
  padding: 12px;

  .changeSizeOuterWrapper {
    display: block;
    @media(min-width: $tablets) {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .button {
    display: inline-block;
    vertical-align: top;
    margin-top: 21px;
    padding: 5px 10px;
    color: #303030;
    border: 1px solid #ddd;
    &.leftButton {
      margin-right: 19px;
    }
    &.rightButton {
      margin-left: 19px;
    }
  }
  

  .pagainationWrapper {
    display: block;
    font-family: 'ProximaNova-Regular', arial, sans-serif;
    @media(min-width: $tablets) {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .changeSizeWrapper {
    position: relative;
    display: table;
    // width:66%;
    @media(min-width: $tablets) {
      // width:50%;
    }

    #pageSize {
      color: #3a3a3a;
      font-weight: 700;
      font-size: 16px;
    }

    span {
      display: table-cell;
      vertical-align: middle;
      /* Style for "Show" */
      color: #545556;
      font-weight: 400;
    }

    .changeSizeBtnWrapper {
      display: table-cell;
      position: relative;
    }
  }

  .changeSizeBtn {
    width: 80px;
    height: 40px;
    z-index: 7;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.03);
    border-radius: 30px;
    border: 1px solid #d6d6de;
    background-color: #ffffff;
    display: table;
    position: relative;
    text-align: center;

    span {
      padding-right: 26px;
      display: table-cell;
      vertical-align: middle;
    }

    &::after {
      content: '';
      background: url('#{$icons}/drop-down-arrow.png') no-repeat;
      position: absolute;
      right: -5px;
      top: 12px;
      display: block;
      width: 30px;
      height: 30px;
    }
  }

  .pageSizeModal {
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    z-index: 3;
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 20px;
    border-radius: 10px;
 
    border: 1px solid #d6d6de;
    background-color: #ffffff;

    ul {
      padding: 0;
      margin-top: 0;
      margin-bottom: 0;

      li {
        border: none;
        width: 78px;
        padding: 3px 0;
        text-align: left;
        padding-left: 10px;
        &:hover {
          background-color: #ebf5ff;
        }
         &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .pagination {
    @media(min-width: 768px) {
      text-align: right;
    }
    // @media screen and (max-width: 1204px) and (min-width: 768px) {
      
    //   padding-right: 35px;
    // }


    a {
      color: #303030;
      border-radius: 0;
      padding: 8px;
      border: 1px solid #ddd;
      margin-left: 10px;
      font-weight: 400;
      @media(min-width: $tablets) {
        margin-left: 0px;
        padding: 6px;
        margin-right: 33px;
      }
      @media(min-width: $desktop) {
        margin-left: 20px;
        padding: 5px 10px;
        margin-right: 0;
      }
    }
  }
}
