@import "../../style/helpers/_variables";
@import "../../style/helpers/_mixins";

.projectList {
  position: relative;
  max-width: 1200px;
  margin: 41px auto;
  margin-bottom: 12px;
  width: 100%;
  @media(max-width:767px){
    margin: 0 auto;
  }
  @media (min-width: $desktop) {
    overflow: unset;
  }

  table {
    // @media (max-width: 767px) {
    //   width: 1200px;
    //   max-width: none;
    // }
    box-shadow: 0 10px 60px rgba(7, 61, 125, 0.18);
  }
  // @media (max-width: 767px) {
  //   width: 1200px;
  //   overflow: scroll;
  // }
}
.filter {
  margin: 0;
  padding-left: 13px;
  // @media ( max-width:767px) {
  //   margin: 8px 25px;
  // }
}
.containerClass {
  border-top: 3px solid #337ab7;
}

.headerContainerClass {
  table {
    margin-bottom: 0;
    thead {
      tr {
        @include not-last-child("th") {
          border-right: 1px solid #dfdfdf !important;
        }
        th {
          // padding: 17px 30px;
          // word-break: break-word;
          text-align: center !important;
          padding: 17px 2px;
          font-size: 16px;
          -webkit-box-shadow: 0px 1px 1px #dfdfdf;
          -moz-box-shadow: 0px 1px 1px #dfdfdf;
          box-shadow: 0px 1px 1px #dfdfdf;
          background-color: #ffffff;
          border-bottom: none !important;
        }
      }
    }
  }
}
.tableBodyClass {
  font-family: 'proxima-nova';
  font-weight: 600;
  margin-bottom: 0;
  tbody {
    tr {
      cursor: default;
      &:hover {
        td {
          color: #626262;
        }
      }
      td {
        border: 1px solid #ddd;
        padding-right: 0;
        font-size: 16px;
        padding: 14px !important;
        outline: none;
        color: #626262;
        word-break: break-word;
        font-weight: 400;
        line-height: 60px;
      }
    }
  }
}

.toolBarStyle {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  input {
    background-color: red;
  }
}

.toolBar {
  width: 100%;
  display: block;
  padding: 10px 0 10px 0;
  @media (max-width: 991px) {
    padding-left: 10px;
  }
  @media (min-width: $tablets) {
    display: table;
  }
  .searchWrapper {
    display: block;
    padding-top: 6px;
    @media (min-width: $tablets) {
      float: right;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .insertBtnWrapper {
    display: inline-block;
    // width:70%;
    display: table-cell;
    vertical-align: bottom;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  @media (min-width: $desktop) {
    display: table;
  }
}
input[type=text]::-ms-clear {
  display: none;
}
.searchContainer {
  .searchLabel {
    color: #2c2c2c;
    font-size: 16px;
    // font-weight: 700;
    padding: 0 10px;
    @media(max-width:767px) {
      padding-left: 21px;
    }
  }
  .searchItems {
    padding-top: 10px;
    width: 234px;
    display: inline-block;
    @media (max-width: $tablets) {
      display: block;
      padding-top: 0;
      padding-left: 13px;
      width: 100%;
    }
    .searchField {
      color: #000;
      display: inline-block;
      width: 84%;
      padding: 10px 10px 10px 20px;
      box-sizing: border-box;
      font-size: 16px;
      outline: none;
      height: 40px;
      border-radius: 0;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.03);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      background-color: #ffffff;
      border: 1px solid #d6d6de;
      border-right: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      @media (max-width: 767px) {
        width: 80%;
      }
    }
    .searchIcon {
      height: 40px;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.03);
      border: 1px solid #d6d6de;
      background-color: #ffffff;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-left: none;
      background-image: url("#{$icons}/icon-search.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 50%;
      display: inline-block;
      padding: 20px 18px 18px;
      position: relative;
      vertical-align: top;
      cursor: pointer;
    }
    @media (min-width: $tablets) {
      width: 400px;
    }
  }
}

.labelStyle {
  @media (max-width: $tablets) {
    display: block !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.preloaderWrapper {
  position: relative;
  height: 300px;
}
.download_format_row{
  text-align: center;
  width: 100%;
  display: inline;
  @media (min-width: $desktop) {
    display: inline-block;
  }


  .download_format{
    height: 25px;
    // width: 25px;
  }
}


.tableOuterWrapper{
  display: none;
  @media(min-width: $tablets) {
      display: block;
  }
}

.cardListOuterWrapper{
  display: block;
  @media(min-width: $tablets) {
      display: none;
  }
  .customInsertBtnWrapper{
    padding-left:10px;
  }
}

.cardDocCategoryWrapper{
  display: table;
  width:100%;

  .categoryLabelWrapper{
    display: table-cell;
    .label{
      color: #737373;
      font-size: 12px;
      font-weight: 400;
    }
    .value{
      font-weight:600;
      font-size: 12px;
      color: #303030;
    }

  }
  .imageWrapper{
    display: table-cell;
    text-align: right;
    width:20%;
  }
}


.cardDocTitle{
  color: #303030;
  font-size: 15px;
  margin-bottom: 3px;
  font-weight:700;
}

.projDocDetail{
  text-align: right;
  @media (min-width: $tablets) {
    text-align: center;

  }

}

