*.pyc
migrations
.pydevproject
.project
undp_transparency/settings/local.py
undp_transparency/settings/restart_server.py
undp_transparency/settings/local_mirror.py
undp_transparency/settings/local_default.py
undp_transparency/settings/config.ini
.idea/
uploaded/
downloaded/
static/
media/
export/
file_details.ini
file_details_default.ini
local_qa_default.py
templates_backup/



