.modal{
    width: 70%;
    margin: 0 auto;
    top: 40px;
    z-index: 2;
    background-color:white;
    border:1px solid rgba(181, 181, 181, 1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.34901);


}
